<!-- Navbar -->
<nav class="navbar navbar-light bg-light">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <!-- Brand Logo and Name -->
      <a class="navbar-brand" href="#">
        <img
          src="https://t3.ftcdn.net/jpg/06/20/08/12/240_F_620081258_pRxp6QuDJ8edxHh6Wajgn4tqFjLV11tP.jpg"
          alt="Logo"
          width="100"
          height="70"
        />
        Parcel-Delivery-Portal
      </a>

      <!-- Navbar Toggler (For Mobile View) -->
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navbar Links -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <!-- Parcels Dropdown -->
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="parcelsDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              PARCELS
            </a>
            <ul class="dropdown-menu" aria-labelledby="parcelsDropdown">
              <li>
                <a class="dropdown-item" routerLink="parcel-list" routerLinkActive="active">
                  View Parcels
                </a>
              </li>
            </ul>
          </li>

          <!-- Book Parcels Dropdown -->
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="bookParcelsDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              BOOK PARCELS
            </a>
            <ul class="dropdown-menu" aria-labelledby="bookParcelsDropdown">
              <li>
                <a class="dropdown-item" routerLink="parcel-create" routerLinkActive="active">
                  Book Parcel
                </a>
              </li>
            </ul>
          </li>

          <!-- Users Dropdown -->
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="usersDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              USERS
            </a>
            <ul class="dropdown-menu" aria-labelledby="usersDropdown">
              <li>
                <a class="dropdown-item" routerLink="user-list" routerLinkActive="active">
                  View Users
                </a>
              </li>
              <li>
                <a class="dropdown-item" routerLink="user-create" routerLinkActive="active">
                  Add User
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</nav>
<router-outlet></router-outlet>

